<div class="footer_component blend-teal centered">
  <div class="padding-global width-1200">
    <div class="container-large">
      <div class="padding-section-medium">
        <div class="wrapper-footer-content">
          <a href="/index.html" class="footer-logo-link w-nav-brand">
            <img width="63" loading="lazy" alt="JPEG XL" src="/images/Logo-JPEG_XL-vertical-square-full_color.svg" class="footer-logo" />
          </a>
          <div class="w-layout-grid footer_bottom-wrapper">
            <div id="w-node-_8e9aaa5d-c4ff-899a-79da-79764703422e-4703421c" class="w-layout-grid footer_social-list">
              <a href="https://discord.gg/DqkQgDRTFu" target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                <img src="/images/Icon-social-discord-black.svg" loading="lazy" alt="JPEG XL on Discord" class="icon-social" />
              </a>
              <a href="https://www.reddit.com/r/jpegxl" target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                <img src="/images/Icon-social-reddit-black.svg" loading="lazy" alt="JPEG XL on Reddit" class="icon-social" />
              </a>
              <a href="https://x.com/jpegxl" target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                <img src="/images/Icon-social-x-twitter-black.svg" loading="lazy" alt="JPEG XL on X (Twitter)" class="icon-social" />
              </a>
            </div>
            <div id="w-node-a89a5031-0ff7-675b-f7d6-29d42dd985eb-4703421c" class="container-content-vflex">
              <div id="w-node-fedcfc71-bc17-af3f-285c-68c798bcef4e-4703421c" class="wrapper-text">
                <div id="w-node-_8e9aaa5d-c4ff-899a-79da-79764703423d-4703421c" class="footer_credit-text">
                  ©2024-2026 JPEG&nbsp;XL and the JPEG&nbsp;XL Community.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

