<div class="footer_component blend-teal centered">
  <div class="padding-global width-1200">
    <div class="container-large">
      <div class="padding-section-medium">
        <div class="wrapper-footer-content">
          <a href="/index.html" class="footer-logo-link w-nav-brand">
            <img
              width="63"
              loading="lazy"
              alt="JPEG XL"
              src="/images/Logo-JPEG_XL-vertical-square-full_color.svg"
              class="footer-logo"
            />
          </a>
          <div class="w-layout-grid footer_bottom-wrapper">
            <div id="w-node-_8e9aaa5d-c4ff-899a-79da-79764703422e-4703421c" class="w-layout-grid footer_social-list">
              <a href="https://discord.gg/DqkQgDRTFu" target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                <img src="/images/Icon-social-discord-black.svg" loading="lazy" alt="JPEG XL on Discord" class="icon-social" />
              </a>
              <a href="https://www.reddit.com/r/jpegxl" target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                <img src="/images/Icon-social-reddit-black.svg" loading="lazy" alt="JPEG XL on Reddit" class="icon-social" />
              </a>
              <a href="https://x.com/jpegxl" target="_blank" rel="noopener noreferrer" class="social-link w-inline-block">
                <img src="/images/Icon-social-x-twitter-black.svg" loading="lazy" alt="JPEG XL on X (Twitter)" class="icon-social" />
              </a>
            </div>
            <div id="w-node-a89a5031-0ff7-675b-f7d6-29d42dd985eb-4703421c" class="container-content-vflex">
              <div id="w-node-fedcfc71-bc17-af3f-285c-68c798bcef4e-4703421c" class="wrapper-text centered">
                <div id="w-node-_8e9aaa5d-c4ff-899a-79da-79764703423d-4703421c" class="footer_credit-text">
                  ©2024-2026 The JPEG&nbsp;XL Community.<br />
                  Want to contribute to this website?
                  <a href="https://github.com/jxl-community/jxl-community.github.io" class="footer_legal-link">Make a pull request!</a
                  ><br />
                  <a href="https://fractionalxperience.com" class="footer_legal-link">Community JPEG XL Site designed by Fractional Xperience</a
                  >.<br /><br />
                  This is an unofficial, community-maintained website.<br />
                  <a href="https://jpeg.org/jpegxl/" class="footer_legal-link">Visit the official JPEG Committee JPEG&nbsp;XL site.</a><br /><br />
                  <a href="/old/" class="footer_legal-link">Access to the archived version of this site.</a><br />
                  <a href="https://hits.sh/jpegxl.info/">
                    <img
                      alt="Hit Counter"
                      src="https://hits.sh/jpegxl.info.svg?style=plastic&color=3bb6b3"
                      style="width: 4.5em; height: auto; display: inline; margin-top: 1em;"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

